
.header {
    margin-block: 4rem;
    max-width: 90%;
    margin-inline: auto;

}


.flex {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .blogFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .filterItem {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: var(--primary-color);
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 0.5rem;
      display: flex;
      gap: .3rem;
      border: 0;
      outline: 0;
      align-items: center;

  
      &:hover, &:focus {
        background-color: var(--text-primary);
      }

      &.active {
        background-color: var(--text-primary);
      }
  
      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }
    }
  }

  .section {
    width: clamp(16rem,700px, 90%);
    margin-inline: auto;
    // border: 2px solid red;

    
    a {
      display: inline-block;
      text-decoration: underline;
      color: var(--text-primary);
      margin-bottom: 3rem;
    }

    .blog-header {
      margin-block: 2rem;
      text-align: left;
              
      img {
      border-radius: .5rem;
      box-shadow: 0px 0px 10px 0px var(--gray-color);
      // max-width: 600px;
      aspect-ratio: 2 /1;
      // margin-inline: auto;
      object-fit: cover;
      margin-bottom: 2rem;
    }
            
    h1 {
        color : var(--primary-color);
        font-size: 2.5rem;
        font-family: 'Quicksand', sans-serif;
      }
      
      p {
        margin-bottom: 1rem;
    }


    }

    .content {
        word-wrap: break-word;
        text-align: left;
        
        h2,h3,h4 {
            color : var(--gray-color);
            margin-bottom: 0;
            padding-inline: 1rem;

            a {
              color: var(--gray-color);
              text-decoration: none;
              display: inline-block;
            }
        }

        a {
            color: var(--text-primary);

            &:hover,&:focus {
              color: var(--primary-color);
            }
        }

        pre,code {
            overflow-x: auto;
            border-radius: .5rem;
            max-width: 90%;
            margin-inline: auto;
            padding: .5rem 1rem;
          }

          p > code {
            font-style: italic;
            color: var(--text-primary);
          }

          li {
            position: relative;
            list-style-type: none;

            &::before {
            position: absolute;
            left: -1rem;
              content: '👉';
            }
          }
        
        p,li {
            font-family: 'Nunito', sans-serif;
            font-size: 1.2rem;
            color:  var(--black-color);
            margin-block: 2rem;
            word-spacing: 5px;
            max-width: 75ch;
            padding-inline: 1.5rem;
            
        }
        

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        
            img {
                display: block;
                margin-inline: auto;
                margin-bottom: 3rem;
                max-width: 100%;
                height: auto;
                object-fit: center;
                aspect-ratio: 3 / 1 ;
                border-radius: 1rem;
    
            }

        }

  }
