---
import MainLayout from "../layouts/MainLayout.astro";
import SearchForm from "../components/SearchForm.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { HOMEPAGE_ARTICLE_LIMIT,SITE_DESCRIPTION } from "../constants";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Topics from "../components/Topics.astro";

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0];

const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1);

---
<MainLayout>
  <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 place-items-center font-Poppins text-textPrimary">
    <div>
      <h1 class="text-4xl font-bold mt-4 mb-8 leading-tight xl:text-5xl">
        {SITE_DESCRIPTION}
      </h1>

      <SearchForm />
      <br />
      <Topics />
    </div>
    <ArticleCard article={mostRecentArticle} featured />
  </div>
  <!-- <h1 class="text-4xl text-center italic font-Poppins text-textSecondary my-6 mx-auto w-11/12">
    Latest Articles
  </h1> -->
  <main class="mx-auto flex flex-wrap gap-4 mt-10 justify-center">
   {otherArticles.slice(0, HOMEPAGE_ARTICLE_LIMIT).map(article => (
    <ArticleCard article={article} />
   ))}
  </main>
</MainLayout>