---
import { formatDate } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<"blog">;
}
---


<article
  class="w-full lg:w-9/12 min-h-[200px] rainbow rounded-lg overflow-hidden shadow-lg p-6"
>
  <!-- <img
        src={'/images/' + article.data.image}
        alt="Article Image"
        class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
      /> -->

  <h2 class="text-2xl font-semibold mb-2 text-accent">
    <a href={"/articles/" + article.slug}> {article.data.title}</a>
  </h2>
  <p class="text-accent text-base mb-4">
    {formatDate(article.data.pubDate)} 
  </p>
  <p class="text-gray-700 text-base mb-4 hidden lg:block">
    {article.data.description}
  </p>
  <Tags tags={article.data.tags} />
  <p class="my-4 ml-2 text-textSecondary">
    <a href={"/articles/" + article.slug} class="hover:opacity-70">
      Read More
      <svg
        class="inline text-accent"
        width="20"
        height="15"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
          points="12 5 19 12 12 19"></polyline></svg
      >
    </a>
  </p>
</article>
