
<footer class="mx-auto mt-8 text-textPrimary">
	<p class="md:text-lg text-center">Copyright &copy; 2024 <span>
		<a href='https://thedevguy.in' target="_blank" rel="noreferrer" class="hover:underline transition-all duration-100">
    TheDevGuy. </a></span>  All Rights Reserved.</p>
</footer>
