---
const today = new Date();
---

<footer>
	<p>Copyright &copy;  {today.getFullYear()}  <span>
		<a href='https://thedevguy.in' target="_blank" rel="noreferrer">
    TheDevGuy. </a></span>  All Rights Reserved.</p>
</footer>
<style>
	 p {
      font-family: 'Nunito', sans-serif;
      line-height: 1.2;
      font-size : 1rem;

    }
    a:hover {
      text-decoration: underline;
    }
</style>
