---
const topics = [
  "css",
  "javascript",
  "databases",
  "node",
  "performance",
  "react",
  "programming",
  "next.js",
  "cloud"
];
---

<section class="mx-auto w-11/12">
  <h1 class="text-4xl text-center italic font-Poppins text-textPrimary my-6">
    Categories
  </h1>

  <div class="flex flex-wrap justify-center gap-4 ">
    {
      topics.map((tag: string) => (
        <button
          class={
            "px-4 py-2 border border-textSecondary text-textPrimary font-Inter capitalize rounded-lg text-xl hover:bg-textSecondary transition-colors duration-200"
          }
        >
          <a href={"/articles/tag/" + tag}>{tag}</a>
        </button>
      ))
    }
  </div>
</section>
